#root {
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  margin: 20px;
  width: 100%;
}

h1 {
  color: #61dafb; /* Azul claro */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px; /* Ajusta el ancho máximo de la grilla según sea necesario */
  margin: 0 auto; /* Centrar la grilla */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #444; /* Borde oscuro */
  border-radius: 8px;
  padding: 16px;
  background-color: #333; /* Fondo oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic-container {
  margin-bottom: 10px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  max-width: 200px; /* Ajusta el ancho según tus necesidades */
}

h2 {
  display: flex;
  align-items: center;
  color: #fff; /* Texto blanco */
}

.verification-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
}

.page-info {
  margin: 0 10px;
}

.input {
  margin: 0 0 20px 0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    max-width: 150px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }
}
